<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Column Layout with Search Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <div class="search-container">
        <h1>Search for a Symbol</h1>
        <input type="text" name="symbol_name" placeholder="Symbol name" id="wow_many_syms">
    </div>
    <div class="container">
        <table id="such_table" class="biiig_table">
            <tr>
            </tr>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/magic.js') }}"></script>
</body>
</html>


